@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&family=Hanken+Grotesk:wght@200;300;400;500;600&display=swap");
.mobile-menu {
  background-color: rgba(248, 222, 143, 0.962);
  color: #FFF;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 50px 16px;
}
.mobile-menu a {
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3em;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #191919;
}
.mobile-menu a:hover {
  background-color: rgba(81, 61, 3, 0.942);
  color: #FFF;
}
.mobile-menu .active {
  background-color: rgba(81, 61, 3, 0.942);
  color: #FFF;
}

/* Generell CSS */
* {
  box-sizing: border-box;
}

.errorMessage {
  color: red;
}

.succesMessage {
  color: green;
}

html,
body {
  margin: 0;
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
}

.section-title {
  color: #f94d1c;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-top: 60px;
}
.section-subtitle {
  font-weight: 700;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-block: 10px;
  z-index: 0;
}
@media (min-width: 1200px) {
  .section-subtitle {
    font-size: 45px;
  }
}

/*Style for next and previous-buttons*/
.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.previous {
  list-style-type: none;
}

.page-number {
  color: aqua;
}

.next {
  color: rgb(217, 17, 17);
}

.btn-yellow {
  background-color: #f9d783;
  color: #191919;
  border-color: 1px solid #f9d783;
  border-radius: 25px;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  transition: 0.5s ease-in-out;
  color: #f0efe9;
}

.btn-transparent {
  background-color: transparent;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 25px;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: #f0efe9;
}

.btn-black {
  background-color: #191919;
  color: #f0efe9;
  border-color: 1px solid #f9d783;
  border-radius: 25px;
  padding: 14px 14px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}
.btn-black i {
  margin-left: 7px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #f9d783;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: #191919;
}
@media (min-width: 768px) {
  .btn-black {
    padding: 12px 25px;
  }
}

.btn-circle {
  background-color: transparent;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 50%;
  padding: 11px 17px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  width: 50px;
  height: 50px;
}
.btn-circle:hover {
  background-color: #191919;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: #f0efe9;
}

.btn-menu {
  z-index: 1;
}

.nav-section {
  display: flex;
  background-color: #f0efe9;
  /* placera headern i mitten */
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  position: relative;
  z-index: 2;
}
.nav-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 78px;
  max-width: 1320px;
}
.nav-section .container .logotype {
  align-self: center;
}
.nav-section .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  .nav-section .container .menu-bars {
    display: none;
  }
}
.nav-section .container .menu-bars-active {
  color: white;
}
.nav-section .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  .nav-section .container .menu {
    display: block;
  }
}
.nav-section .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #dad9d3;
  align-items: center;
}
@media (min-width: 1200px) {
  .nav-section .container .menu .top-menu {
    justify-content: space-between;
  }
}
.nav-section .container .menu .top-menu .contact-information {
  display: none;
  padding-block: 10px;
  width: 100%;
}
@media (min-width: 1200px) {
  .nav-section .container .menu .top-menu .contact-information {
    display: flex;
  }
}
.nav-section .container .menu .top-menu .contact-information .content-box {
  margin-right: 30px;
  padding-right: 25px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
.nav-section .container .menu .top-menu .contact-information .content-box a {
  text-decoration: none;
  color: #191919;
}
.nav-section .container .menu .top-menu .contact-information .content-box a:hover {
  text-decoration: underline;
}
.nav-section .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: rgba(102, 102, 102, 0.4);
}
.nav-section .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
.nav-section .container .menu .top-menu .social-media a {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .nav-section .container .menu .top-menu .social-media {
    display: flex;
  }
}
.nav-section .container .menu .top-menu .social-media i {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
.nav-section .container .menu .top-menu .social-media i:hover {
  color: #666666;
}
.nav-section .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: row;
  align-items: center;
}
.nav-section .container .menu .main-menu nav li {
  display: inline-block;
  margin-right: 35px;
  position: relative;
}
.nav-section .container .menu .main-menu nav li a {
  text-decoration: none;
  color: #191919;
}
.nav-section .container .menu .main-menu nav li a.active {
  font-weight: 600;
}
.nav-section .container .menu .main-menu nav li a.active::after, .nav-section .container .menu .main-menu nav li a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
.nav-section .container .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 0;
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 1;
}
.showcase .background-lines {
  display: none;
  position: absolute;
  bottom: -140px;
  z-index: -1;
  width: 100%;
}
@media (min-width: 992px) {
  .showcase .background-lines {
    display: block;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content-left {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .showcase .container .content-left {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    text-align: left;
  }
}
.showcase .container .content-left h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content-left h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content-left h1 {
    font-size: 86px;
  }
}
.showcase .container .content-left p {
  margin-bottom: 55px;
  width: 90%;
}
.showcase .container .content-left .btn-yellow,
.showcase .container .content-left .btn-transparent {
  display: block;
  margin-bottom: 20px;
  z-index: 1;
}
.showcase .container .content-left .btn-yellow:hover,
.showcase .container .content-left .btn-transparent:hover {
  transform: scale(1.1);
}
@media (min-width: 768px) {
  .showcase .container .content-left .btn-yellow,
  .showcase .container .content-left .btn-transparent {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container .img-showcase {
  margin-right: -50px;
  display: none;
}
@media (min-width: 1200px) {
  .showcase .container .img-showcase {
    display: block;
  }
}

.img-advertising {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}
.img-advertising img {
  display: none;
}
@media (min-width: 992px) {
  .img-advertising img {
    display: block;
    padding: 30px;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
  }
}

.features-section {
  padding: 20px;
  /* Add a separate container for the border */
}
@media (min-width: 1200px) {
  .features-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.features-section .border-container {
  border: none;
}
@media (min-width: 1200px) {
  .features-section .border-container {
    border: 1px solid #e7e7e7;
    padding-inline-end: 180px;
    padding-inline-start: 90px;
  }
}
@media (min-width: 1200px) {
  .features-section .border-container .container {
    display: flex;
    margin: 0 auto;
    -moz-column-gap: 80px;
         column-gap: 80px;
    padding-block: 80px;
  }
}
.features-section .border-container .container .container-left {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-block: 30px;
}
@media (min-width: 1200px) {
  .features-section .border-container .container .container-left {
    text-align: left;
    line-height: 1.2;
    align-items: flex-start;
    margin-bottom: 0;
    margin-right: 60px;
  }
}
.features-section .border-container .container .container-left .learn-more {
  width: 100%;
  display: grid;
  text-align: center;
}
@media (min-width: 768px) {
  .features-section .border-container .container .container-left .learn-more {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .features-section .border-container .container .container-left .learn-more {
    width: 100%;
  }
}
.features-section .border-container .container h2 {
  margin-top: 0;
}
.features-section .border-container .container .btn-features {
  display: block;
  margin: 15px 40px 20px 40px;
}
@media (min-width: 768px) {
  .features-section .border-container .container .btn-features {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .features-section .border-container .container .btn-features {
    display: block;
    width: 100%;
    padding-block: 20px;
    text-align: center;
    margin: 15px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .features-section .border-container .container .features-boxes {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.features-section .border-container .container .features-boxes .features-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.features-section .border-container .container .features-boxes .features-box img {
  width: 20%;
  color: #191919;
}
.features-section .border-container .container .features-boxes .features-box h2 {
  text-align: left;
}
.features-section .border-container .container .features-boxes .features-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
}
.features-section .border-container .container .features-boxes .features-box p {
  padding: 10px 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #707070;
}
@media (min-width: 1200px) {
  .features-section .border-container .container .features-boxes .features-box p {
    text-align: left;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .features-section .border-container .container .features-boxes .features-box {
    align-items: flex-start;
  }
}

body {
  color: black;
}

.service-section {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.service-section .background-lines-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: -1;
}
.service-section .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1200px) {
  .service-section .container {
    margin: 0 auto;
    padding-top: 40px;
  }
}
.service-section .container h3 {
  margin-bottom: 40px;
}
.service-section .container .content {
  display: grid;
  grid-row-gap: 30px;
}
@media (min-width: 768px) {
  .service-section .container .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .service-section .container .content {
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    text-align: left;
    margin-right: 70px;
  }
}
.service-section .container .content .service-box {
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  padding: 30px;
}
.service-section .container .content .service-box:hover {
  background-color: #f9d783;
}
@media (min-width: 768px) {
  .service-section .container .content .service-box {
    display: grid;
  }
}
.service-section .container .content .service-box span {
  border-top: 1px solid black;
  width: 40px;
  grid-row: 1/3;
  grid-column: 1/3;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .service-section .container .content .service-box span {
    margin-top: 20px;
  }
}
.service-section .container .content .service-box h4 {
  padding-top: 40px;
}
@media (min-width: 768px) {
  .service-section .container .content .service-box h4 {
    grid-row: 1/2;
    grid-column: 1/5;
  }
}
@media (min-width: 1200px) {
  .service-section .container .content .service-box h4 {
    grid-column: 1/5;
    grid-row: 2/2;
  }
}
@media (min-width: 768px) {
  .service-section .container .content .service-box p {
    grid-row: 2/2;
    grid-column: 1/5;
  }
}
@media (min-width: 1200px) {
  .service-section .container .content .service-box p {
    grid-column: 1/5;
    grid-row: 3/3;
  }
}
.service-section .container .content .service-box .btn-circle {
  background-color: transparent;
  color: #191919;
  border: 1px solid #191919;
  border-radius: 50%;
  padding: 11px 17px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  width: 50px;
  height: 50px;
}
.service-section .container .content .service-box .btn-circle:hover {
  background-color: #191919;
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
  color: #f0efe9;
}
.service-section .container .content .service-box a {
  background-color: #ffffff;
  color: #f0efe9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 26px 28px;
  color: #191919;
}
.service-section .container .content .service-box a:hover {
  background-color: #ffffff;
  color: #191919;
  border: none;
}
@media (min-width: 768px) {
  .service-section .container .content .service-box a {
    grid-row: 3/3;
    grid-column: 4/5;
  }
}
@media (min-width: 1200px) {
  .service-section .container .content .service-box a {
    grid-column: 4/5;
    grid-row: 4/4;
  }
}
.service-section .container .content .service-box a i {
  font-size: 22px;
}
.service-section .container .btn-transparent,
.service-section .container .btn-center {
  margin: 50px auto 70px auto;
}

.choose-us .container {
  z-index: 0;
}
.choose-us .container .content {
  grid-column: span 2;
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us .container .content {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .choose-us .container .content h2 {
    margin-bottom: 20px;
    text-align: left;
  }
}
.choose-us .container .content h3 {
  padding: 20px;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .choose-us .container .content h3 {
    margin-bottom: 60px;
    text-align: left;
    width: 36%;
    text-align: left;
  }
}
.choose-us .container .content .box {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: rgba(240, 239, 233, 0.6392156863);
  border-radius: 7rem;
}
@media (min-width: 1200px) {
  .choose-us .container .content .box {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #fff;
    width: 50%;
  }
}
.choose-us .container .content .box a {
  margin-top: 10px;
  grid-row: 1/4;
  grid-column: 1/1;
}
.choose-us .container .content .box a img {
  border-radius: 50%;
  border: 1px solid #e7e7e7;
  padding: 10px;
}
@media (min-width: 1200px) {
  .choose-us .container .content .box a {
    margin-right: 30px;
  }
}
.choose-us .container .content .box h4 {
  grid-row: 1/2;
  grid-column: 2/3;
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us .container .content .box h4 {
    text-align: start;
  }
}
.choose-us .container .content .box p {
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}
@media (min-width: 1200px) {
  .choose-us .container .content .box p {
    margin-top: -2px;
    text-align: left;
    margin: 0;
    width: 100%;
    padding-bottom: 0;
  }
}
.choose-us .container .main-img-container {
  position: relative;
  top: 200px;
  left: 0;
  z-index: 1;
}
.choose-us .container .main-img-container .frame-grey {
  display: none;
}
@media (min-width: 1200px) {
  .choose-us .container .main-img-container .frame-grey {
    display: block;
    background-color: #f0efe9;
    width: 70%;
    position: absolute;
    top: 10px;
    height: 420px;
    right: -190px;
    z-index: -1;
  }
}
@media (min-width: 1400px) {
  .choose-us .container .main-img-container .frame-grey {
    top: 70px;
    height: 410px;
    right: -229px;
  }
}
.choose-us .container .main-img {
  display: none;
}
@media (min-width: 992px) {
  .choose-us .container .main-img {
    width: 60%;
    margin: 0 auto;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .choose-us .container .main-img {
    display: block;
    position: absolute;
    right: -60px;
    top: -100px;
    width: 50%;
    z-index: 2;
  }
}

.case .container {
  padding-top: 80px;
}
.case .container .headlines {
  text-align: center;
}
@media (min-width: 1200px) {
  .case .container .headlines {
    margin: 0;
    padding: 0;
  }
}
.case .container .content-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}
@media (min-width: 768px) {
  .case .container .content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.case .container .content-grid .box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 60px;
}
@media (min-width: 1200px) {
  .case .container .content-grid .box {
    margin-top: 40px;
  }
}
.case .container .content-grid .box img {
  width: 100%;
  height: auto;
}
@media (min-width: 1200px) {
  .case .container .content-grid .box {
    border-bottom: none;
  }
}
.case .container .content-grid .box .btn-transparent {
  padding: 10px;
  margin-bottom: 0%;
}
.case .container .content-grid h4 {
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 16px;
  padding-top: 35px;
}
@media (min-width: 768px) {
  .case .container .content-grid h4 {
    text-align: left;
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .case .container .content-grid h4 {
    border-bottom: 1px solid #e7e7e7;
    margin-top: 5px;
    padding-bottom: 0;
    margin-bottom: 14px;
    align-self: flex-start;
  }
}
.case .container .content-grid a {
  display: block;
  justify-self: flex-end;
  width: 35%;
  text-align: center;
  text-decoration: none;
  color: #191919;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  border: none;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .case .container .content-grid a {
    margin-bottom: 10px;
  }
}
.case .container .content-grid a:hover {
  border-radius: 25px;
  background-color: #f9d783;
  transform: scale(1.1);
}
.case .container .btn-black {
  margin-block: 20px;
}
.case .container .btn-black i {
  margin-left: 10px;
}
.case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.case > .container > .content-grid .box:hover {
  opacity: 0.8;
  transition: 0.6s ease-in-out;
}

.team {
  background-color: #edcf86;
}
.team .container {
  text-align: center;
}
.team .container .top-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .team .container .top-heading {
    text-align: left;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .team .container .top-heading {
    margin-bottom: 90px;
  }
}
.team .container .top-heading h2 {
  margin-top: 70px;
}
@media (min-width: 992px) {
  .team .container .top-heading h2 {
    text-align: left;
  }
}
.team .container .top-heading .top-row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .team .container .top-heading .top-row {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
  }
}
.team .container .top-heading h3 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (min-width: 992px) {
  .team .container .top-heading h3 {
    margin-bottom: 0;
  }
}
.team .container .top-heading a {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.team .container .top-heading a:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .team .container .top-heading a {
    display: flex;
    justify-content: flex-end;
    margin-left: 180px;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.team .container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 35px;
  text-align: center;
  margin-top: 40px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 0 auto;
}
.team .container .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100%;
}
@media (min-width: 992px) {
  .team .container .content .box {
    align-items: flex-start;
  }
}
.team .container .content .box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-bottom: 30px;
}
.team .container .content .box p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.38rem;
}
@media (min-width: 992px) {
  .team .container .content .box p {
    text-align: left;
  }
}
.team .container .content .box .descr-txt {
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #595039;
  margin-top: -10px;
  margin-bottom: 56px;
}
.team .dots {
  text-align: center;
}
.team .dots .dot {
  height: 15px;
  width: 15px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.team .dots .dot:hover {
  color: #191919;
}
.team .dots .dot-active {
  background-color: #191919;
}

.testimonial {
  background-color: #edcf86;
  border-top: 1px solid #edcf86;
  padding-bottom: 7rem;
  padding-top: 4rem;
}
.testimonial .container {
  background-color: #fff;
  padding-bottom: 7rem;
}
@media (min-width: 992px) {
  .testimonial .container {
    padding-inline: 6rem;
  }
}
.testimonial .container .top-heading {
  text-align: center;
  margin-bottom: 5rem;
}
.testimonial .container .top-heading h2 {
  margin-top: 70px;
  margin-bottom: 20px;
}
.testimonial .container .top-heading h3 {
  padding-bottom: 0;
}
.testimonial .container article {
  gap: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-content: center;
  text-align: center;
}
@media (min-width: 992px) {
  .testimonial .container article {
    text-align: left;
  }
}
.testimonial .container article .box p {
  line-height: 2rem;
  margin-bottom: 30px;
  padding-inline: 5px;
}
.testimonial .container article .box .rating {
  margin-bottom: 30px;
}
.testimonial .container article .box .rating span {
  color: #f94d1c;
}
.testimonial .container article .box .rater {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
}
@media (min-width: 992px) {
  .testimonial .container article .box .rater {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.testimonial .container article .box .rater img {
  grid-column: 1/1;
  grid-row: 1/1;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -o-object-fit: "";
     object-fit: "";
}
@media (min-width: 992px) {
  .testimonial .container article .box .rater img {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
.testimonial .container article .box .rater p {
  margin-bottom: 0;
}
.testimonial .container article .box .rater .name {
  grid-column: 1/1;
  grid-row: 2/2;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px;
}
@media (min-width: 992px) {
  .testimonial .container article .box .rater .name {
    grid-column: 2/3;
    grid-row: 1/1;
  }
}
.testimonial .container article .box .rater .descr-txt {
  grid-column: 1/1;
  grid-row: 3/3;
  color: #f94d1c;
}
@media (min-width: 992px) {
  .testimonial .container article .box .rater .descr-txt {
    grid-column: 2/3;
    grid-row: 2/2;
  }
}
.testimonial .container .center-content {
  margin-top: 60px;
}
@media (min-width: 992px) {
  .testimonial .container .center-content {
    margin-top: 100px;
  }
}
.testimonial .container .center-content .btn-black {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  margin-block: 30px;
}
@media (min-width: 992px) {
  .testimonial .container .center-content .btn-black {
    width: 25%;
  }
}

/* Grundläggande stil för mobila enheter (mindre än 1200px bredd) */
.about {
  margin-top: 60px;
}
.about .container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
  /* Stilar för skärmar med en bredd på 1200px eller mer */
}
@media (min-width: 1200px) {
  .about .container {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
    margin-bottom: -70px;
    text-align: left;
    gap: 30px;
  }
}
.about .container .content {
  margin-bottom: 30px;
}
.about .container .content h2 {
  margin-bottom: 0px;
}
.about .container .content h3 {
  margin-bottom: 0;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .about .container .content h3 {
    margin-bottom: 20px;
  }
}
.about .container .content .p-last {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .about .container .content .p-last {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  .about .container .content .p-last {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.about .container .content p {
  padding: 13px;
  text-align: center;
}
@media (min-width: 992px) {
  .about .container .content p {
    max-width: 70%;
    padding: 20px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .about .container .content p {
    max-width: 100%;
    padding: 10px 0 10px 0;
    text-align: left;
    line-height: 2rem;
  }
}
.about .container .content .flex-row {
  display: flex;
  text-align: center;
  align-items: baseline;
  justify-content: center;
}
@media (min-width: 1200px) {
  .about .container .content .flex-row {
    display: flex;
    text-align: left;
    align-items: baseline;
    justify-content: left;
  }
}
@media (min-width: 1400px) {
  .about .container .content .flex-row {
    margin-top: 70px;
  }
}
.about .container .content .flex-row .btn-top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.about .container .content .flex-row .btn-top .btn-black {
  padding: 14px 14px;
  margin-right: 10px;
}
@media (min-width: 992px) {
  .about .container .content .flex-row .btn-top .btn-black {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .about .container .content .flex-row .btn-top .btn-black {
    margin-top: 0;
    margin-right: 44px;
  }
}
.about .container .content .flex-row .btn-video {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media (min-width: 992px) {
  .about .container .content .flex-row .btn-video {
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
  }
}
.about .container .content .flex-row .btn-video p {
  padding: 5px;
}
@media (min-width: 1200px) {
  .about .container .content .flex-row .btn-video p {
    padding: 20px;
    padding-top: 0;
  }
}
.about .container .founder {
  position: relative;
}
.about .container .founder .wavy-lines-left {
  position: absolute;
  left: -34px;
  top: 36px;
  z-index: 1;
}
.about .container .founder img {
  text-align: center;
  display: none;
  z-index: 0;
}
@media (min-width: 992px) {
  .about .container .founder img {
    display: block;
  }
}
.about .container .founder .background-frame {
  display: none;
  z-index: 1;
}
@media (min-width: 992px) {
  .about .container .founder .background-frame {
    display: block;
  }
}
.about .container .founder .background-frame p {
  font-family: "DM Sans", sans-serif;
  display: inline-block;
  background-color: #beebff;
  width: 100%;
  padding: 10px;
}
.about .container .founder .background-frame p span {
  color: #f94d1c;
  font-weight: 700;
}
@media (min-width: 1200px) {
  .about .container .founder .background-frame p {
    position: relative;
    bottom: 220px;
    left: -60px;
    background-color: #beebff;
    width: 70%;
    padding: 40px 30px 40px 30px;
  }
}
@media (min-width: 1200px) {
  .about .container .founder {
    text-align: left;
    margin-right: 95px;
  }
}

.articles-news .container .top-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading {
    text-align: left;
    margin-bottom: 40px;
  }
}
.articles-news .container .top-heading h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}
.articles-news .container .top-heading .top-row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading .top-row {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
  }
}
.articles-news .container .top-heading h3 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading h3 {
    margin-bottom: 0;
  }
}
.articles-news .container .top-heading a {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.articles-news .container .top-heading a:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .articles-news .container .top-heading a {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.articles-news .container .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}
@media (min-width: 576px) {
  .articles-news .container .articles {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}
.articles-news .container .articles a article {
  position: relative;
  display: flex;
  flex-direction: column;
}
.articles-news .container .articles a article img {
  height: auto;
}
.articles-news .container .articles a article img:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
.articles-news .container .articles a article .box-date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 28px;
  text-align: center;
  background-color: #f9d783;
  width: 56px;
  height: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.articles-news .container .articles a article .box-date p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  text-align: center;
}
.articles-news .container .articles a article .box-date p span {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -10px;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .box-date {
    top: 11px;
    left: 10px;
  }
}
@media (min-width: 1200px) {
  .articles-news .container .articles a article .box-date {
    top: 12px;
    left: 13px;
  }
}
.articles-news .container .articles a article .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.articles-news .container .articles a article .content:hover h4, .articles-news .container .articles a article .content:hover h5 {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content {
    margin-left: 0;
  }
}
.articles-news .container .articles a article .content h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6a6c71;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 35px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content h4 {
    align-self: flex-start;
  }
}
.articles-news .container .articles a article .content h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content h5 {
    text-align: left;
  }
}
.articles-news .container .articles a article .content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6a6c71;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content p {
    text-align: left;
  }
}
.articles-news .dots {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 100px;
}
.articles-news .dots .dot {
  height: 15px;
  width: 15px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.articles-news .dots .dot-active {
  background-color: #191919;
}

.subscribe {
  background-color: #f0efe9;
  padding: 40px;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 0;
}
.subscribe .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 0;
}
.subscribe .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .subscribe .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  color: #191919;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .subscribe .container h2 {
    margin-right: 160px;
  }
}
.subscribe .container form {
  border-radius: 25px;
}
@media (min-width: 992px) {
  .subscribe .container form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.subscribe .container form input {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  color: #191919;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 16px;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  border-radius: 25px;
  outline: none;
}
@media (min-width: 992px) {
  .subscribe .container form input {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
.subscribe .container form .btn-yellow-scale {
  position: relative;
  border: none;
  z-index: 0;
}
.subscribe .container form .btn-yellow-scale:hover {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

footer {
  background-color: #0e1021;
}
footer .img-advertising-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: 1fr;
  justify-items: center;
  gap: 50px;
  padding: 50px;
  align-items: center;
}
@media (min-width: 992px) {
  footer .img-advertising-footer {
    display: none;
  }
}
footer .footer-top {
  position: relative;
  z-index: 0;
}
footer .footer-top .background-lines-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.15;
}
footer .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  justify-items: center;
  padding-top: 90px;
  position: relative;
  z-index: -1;
}
@media (min-width: 576px) {
  footer .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (min-width: 992px) {
  footer .container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
  }
}
@media (min-width: 1200px) {
  footer .container {
    grid-template-columns: repeat(5, 1fr);
    padding-block: 120px;
  }
}
footer .container .box {
  text-align: center;
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  footer .container .box {
    margin-bottom: 30px;
    gap: 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
    text-align: left;
  }
}
footer .container .box h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
@media (min-width: 992px) {
  footer .container .box h4 {
    margin-bottom: 50px;
  }
}
footer .container .box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 30px;
}
footer .container .box a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
footer .container .box a:hover {
  text-decoration: underline;
}
footer .container .box-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  margin-top: -10px;
  width: 70%;
}
@media (min-width: 576px) {
  footer .container .box-1 {
    grid-column: 1/3;
    width: 50%;
  }
}
@media (min-width: 992px) {
  footer .container .box-1 {
    width: 120%;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  footer .container .box-1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
footer .container .box-1 img {
  align-self: center;
}
@media (min-width: 992px) {
  footer .container .box-1 img {
    align-self: flex-start;
  }
}
footer .container .box-2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (min-width: 576px) {
  footer .container .box-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
@media (min-width: 992px) {
  footer .container .box-2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  footer .container .box-2 {
    grid-row: 1/2;
  }
}
footer .container .box-3 {
  grid-row: 3/4;
}
@media (min-width: 576px) {
  footer .container .box-3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
@media (min-width: 992px) {
  footer .container .box-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  footer .container .box-3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}
footer .container .box-4 {
  text-transform: none;
  grid-column: 1/2;
  grid-row: 4/5;
}
@media (min-width: 576px) {
  footer .container .box-4 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  footer .container .box-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  footer .container .box-4 {
    grid-column: 4/5;
    grid-row: 1/2;
  }
}
footer .container .box-4 h4 {
  margin-left: 0;
}
footer .container .box-5 {
  text-transform: none;
  grid-row: 5/6;
}
@media (min-width: 576px) {
  footer .container .box-5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media (min-width: 992px) {
  footer .container .box-5 {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  footer .container .box-5 {
    grid-column: 5/6;
    grid-row: 1/2;
  }
}
footer .bottom {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #707070;
  text-align: center;
  padding-inline: 15px;
  padding-block: 30px;
  gap: 20px;
}
@media (min-width: 768px) {
  footer .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 30px;
    padding-inline: 100px;
  }
}
@media (min-width: 1200px) {
  footer .bottom {
    padding-block: 30px;
    padding-inline: 160px;
  }
}
footer .bottom .footer-txt {
  color: #fff;
  margin-bottom: 0;
}
footer .bottom .social-media-footer a {
  text-decoration: none;
  margin-left: 10px;
}
@media (min-width: 1200px) {
  footer .bottom .social-media-footer a {
    margin-right: 30px;
  }
}
footer .bottom .social-media-footer a i {
  color: #fff;
}
footer .bottom .social-media-footer a i:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.8);
  color: #f9d783;
}

.showcase-contacts {
  position: relative;
  height: 300px;
  background-color: #f0efe9;
  z-index: 1;
}
.showcase-contacts .backround-lines {
  position: absolute;
  position: absolute;
  bottom: -21px;
  z-index: -1;
  width: 100%;
  left: -190px;
}
.showcase-contacts .container-contacts .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 40px;
}
.showcase-contacts .container-contacts .content .small-h1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #707070;
}
.showcase-contacts .container-contacts .content .large-p {
  font-family: "DM Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #191919;
}

.contact-information {
  z-index: 1;
}
.contact-information .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block: 100px;
  align-items: center;
}
@media (min-width: 1200px) {
  .contact-information .container {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}
.contact-information .container a {
  text-decoration: none;
}
.contact-information .container a .item {
  border: 1px solid #d1d1d1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 200px;
  width: 280px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 40px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
}
.contact-information .container a .item:hover {
  background-color: #f9d783;
  transition: 0.5s;
}
.contact-information .container a .item:hover h3 {
  text-decoration: underline;
  align-self: end;
}
.contact-information .container a .item:hover p {
  color: #191919;
}
.contact-information .container a .item:hover i {
  transform: scale(1.1);
  align-self: flex-start;
  transition: 0.5s;
}
@media (min-width: 320px) {
  .contact-information .container a .item {
    -moz-column-gap: 40px;
         column-gap: 40px;
    width: 350px;
  }
}
@media (min-width: 768px) {
  .contact-information .container a .item {
    width: 420px;
  }
  .contact-information .container a .item:hover {
    background-color: #f9d783;
    transition: 0.5s ease-in-out;
  }
  .contact-information .container a .item:hover h3 {
    text-decoration: underline;
    align-self: end;
  }
  .contact-information .container a .item:hover p {
    color: #191919;
  }
  .contact-information .container a .item:hover i {
    transform: scale(1.1);
    align-self: flex-start;
    transition: 0.5s ease-in-out;
  }
}
@media (min-width: 992px) {
  .contact-information .container a .item {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 15px;
    justify-items: left;
  }
}
.contact-information .container a .item i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #191919;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 1;
}
@media (min-width: 992px) {
  .contact-information .container a .item i {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
  }
}
.contact-information .container a .item h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 0;
  padding: 0;
  z-index: 1;
}
@media (min-width: 992px) {
  .contact-information .container a .item h3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.contact-information .container a .item p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #707070;
  grid-column: 2/3;
  grid-row: 2/3;
}
@media (min-width: 992px) {
  .contact-information .container a .item p {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: flex-end;
  }
}

.contact-form {
  background-color: #f0efe9;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  padding-bottom: 70px;
  margin-bottom: 120px;
}
.contact-form h2 {
  font-size: 45px;
  color: #191919;
  font-weight: 700;
  text-transform: none;
  text-align: center;
}
@media (min-width: 768px) {
  .contact-form h2 {
    width: 50%;
  }
}
.contact-form .container .form-label {
  display: block;
}
.contact-form .container .form-input {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 25px;
}
.contact-form .container .form-input:focus {
  outline: 2px solid #f9d783;
}

textarea {
  resize: none;
  height: 200px;
  border-radius: 25px;
}

.img-map {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.articles-news .container .top-heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading {
    text-align: left;
    margin-bottom: 40px;
  }
}
.articles-news .container .top-heading h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}
.articles-news .container .top-heading .top-row {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading .top-row {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
  }
}
.articles-news .container .top-heading h3 {
  padding-bottom: 0;
  padding-top: 0;
}
@media (min-width: 992px) {
  .articles-news .container .top-heading h3 {
    margin-bottom: 0;
  }
}
.articles-news .container .top-heading a {
  display: block;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.articles-news .container .top-heading a:hover {
  transform: scale(1.1);
}
@media (min-width: 992px) {
  .articles-news .container .top-heading a {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-left: 40px;
  }
}
.articles-news .container .articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}
@media (min-width: 576px) {
  .articles-news .container .articles {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  }
}
.articles-news .container .articles a article {
  position: relative;
  display: flex;
  flex-direction: column;
}
.articles-news .container .articles a article img {
  height: auto;
}
.articles-news .container .articles a article img:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
.articles-news .container .articles a article .box-date {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20px;
  left: 28px;
  text-align: center;
  background-color: #f9d783;
  width: 56px;
  height: 65px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.articles-news .container .articles a article .box-date p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  text-align: center;
}
.articles-news .container .articles a article .box-date p span {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: -10px;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .box-date {
    top: 11px;
    left: 10px;
  }
}
@media (min-width: 1200px) {
  .articles-news .container .articles a article .box-date {
    top: 12px;
    left: 13px;
  }
}
.articles-news .container .articles a article .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.articles-news .container .articles a article .content:hover h4, .articles-news .container .articles a article .content:hover h5 {
  text-decoration: underline;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content {
    margin-left: 0;
  }
}
.articles-news .container .articles a article .content h4 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6a6c71;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 35px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content h4 {
    align-self: flex-start;
  }
}
.articles-news .container .articles a article .content h5 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content h5 {
    text-align: left;
  }
}
.articles-news .container .articles a article .content p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6a6c71;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 768px) {
  .articles-news .container .articles a article .content p {
    text-align: left;
  }
}
.articles-news .dots {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 100px;
}
.articles-news .dots .dot {
  height: 15px;
  width: 15px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}
.articles-news .dots .dot-active {
  background-color: #191919;
}